nav {
    width: 100%;
    position: fixed;
    background: black;
    height: 3rem;
    top: 0px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 20;
}

#sal a:active,
#sal a:focus,
#sal a:hover {
    color: red !important;
    background-color: blue !important;
}

#sal .highlight {
    color: red !important;
    background-color: cyan !important;
}

ul.menu>li,
ul.menu>li>ul.submenu>li {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    list-style-type: none;
    background: black;
}

ul.menu>li {
    float: left;
    width: 10rem;
    text-shadow: 0px -200px white;
    transition: 1s linear;
}

ul.menu>li:hover {
    text-shadow: 0px 0px 10px white;
}

ul li:hover ul {
    display: block;
}

ul.menu>li>ul.submenu {
    position: relative;
    width: 50%;
    top: 0px;
}

ul.submenu>li {
    text-shadow: none;
}

ul.menu>li>a,
ul.menu>li>label,
ul.submenu>li>a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: cyan;
}

ul.menu a:hover,
ul.menu label:hover {
    background: rgba(118, 212, 64, 0.5);
    background-color: red;
    color: blue;
    /* falls */
}

ul li:hover ul {
    display: block;
    animation: drop 0.5s linear;
}

ul.submenu>li>a {
    text-decoration-color: rgba(255, 255, 255, 0);
    text-decoration-style: solid;
    text-decoration-line: underline;
    -webkit-text-decoration-color: black;
    transition: 1s linear;
}

ul.submenu>li>a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.submenu>li>a {
    transition: 1s;
}

#ch-menu,
.ch-submenu {
    display: none;
}

ul.submenu {
    display: none;
}


/* aparitie submeniu */

.ch-submenu:checked~ul.submenu {
    display: block;
}

@keyframes drop {
    0% {
        top: 10px;
        transform: translateY(-70%) scaleY(0);
    }
    100% {
        transform: translateY(0%) scaleY(1);
    }
}

@keyframes text-sep {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes falls {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
    }
}

.home {
    display: none !important;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-areas: "nav nav" "pg produse" "program oferte" "contact ." "footer footer" !important;
        /*grid-template-rows: 130px 1400px 1000px 200px 100px !important;*/
        grid-template-columns: 49% 49% !important;
    }
    *:not(li) {
        font-size: 0.9rem !important;
        animation: none !important;
        transition: 0s !important;
        text-shadow: none !important;
    }
    .home {
        display: block !important;
    }
    .word {
        display: none !important;
    }
    #tabel {
        overflow: scroll;
        height: 300px;
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    body {
        grid-template-areas: "nav " "pg" "produse" "program" "oferte" "contact" "footer" !important;
        /*grid-template-rows: 130px 1000px 1000px 1000px 200px 200px 100px !important;*/
        grid-template-columns: 100% !important;
    }
    * {
        font-size: 0.5rem !important;
    }
    nav {
        z-index: 100;
        height: auto;
    }
    #hamburger {
        display: block !important;
    }
    ul.menu {
        display: none;
    }
    #ch-menu:checked~ul.menu>li {
        text-shadow: none;
        width: 100%;
        height: auto;
        animation: text-sep .5s linear forwards 1;
    }
    #ch-menu:checked~ul.menu {
        display: block !important;
        margin-left: -40px;
    }
    ul.menu>li>ul.submenu {
        position: relative;
        width: 100%;
        margin-left: -40px;
    }
}

#hamburger {
    display: none;
    height: 3rem;
}

#hamburger img {
    height: 100%;
    width: auto;
}

body {
    display: grid;
    width: 95%;
    height: 100%;
    grid-template-areas: "nav nav nav" "pg produse oferte" "program contact ." "footer footer footer";
    /*grid-template-rows: 130px 700px 500px 250px;*/
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 100px;
    transition: 0.2s linear;
}

nav {
    grid-area: nav;
}

#pg {
    grid-area: pg;
}

#produse {
    grid-area: produse;
}

#program {
    grid-area: program;
}

#oferte {
    grid-area: oferte;
}

#contact {
    grid-area: contact;
}

footer {
    grid-area: footer;
}

tbody tr:nth-of-type(even) {
    background: red;
}

tbody tr:nth-of-type(odd) {
    background: cyan;
}

.impar {
    background: white !important;
}

tbody tr:hover {
    background: #EAC;
}

#counter {
    counter-reset: section;
}

#counter p::before {
    counter-increment: section;
    content: "Numarul " counter(section) ": ";
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.reset {
    animation: none;
    display: none;
    opacity: 1;
    position: relative !important;
}

@media print {
    .reset {
        display: block !important;
        grid-area: nav;
        z-index: 999999;
    }
    .animation {
        bottom: unset !important;
        opacity: 1 !important;
        animation: none !important;
        position: relative !important;
    }
}


/* banner */

.animation {
    width: 100%;
    position: fixed;
    bottom: 0;
    animation: urca 6s linear forwards 1.5s;
    text-align: center;
    font-size: 15px;
    color: rgb(217, 231, 135);
    background-color: cyan;
    opacity: 1;
}

.animation:hover {
    color: whitesmoke;
}

@keyframes urca {
    0% {
        transform: translateY(100%);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0%);
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body.dark {
    --text-color: white;
    --back-color: black;
    --atent-color: rgb(107, 68, 107);
    background: var(--back-color);
}

h1,
p,
div {
    color: var(--text-color);
}

strong {
    color: var(--atent-color);
}

body.light {
    --text-color: black;
    --back-color: white;
    --atent-color: rgb(78, 48, 78);
    background: var(--back-color);
}