<!DOCTYPE html>
<html lang="ro">

<% include head %>


    <body>

        <% include header %>

            <h1>
                <br>
                <%= message %>
            </h1>



            <% include footer %>

    </body>

</html>