<footer style="text-align:center">
    <div class="animation">
        <h1>DISCLAIMER: Site-ul este un proiect școlar!</h1>
    </div>

    <address> Mihai Viteazul Nr.17</address> Oprea Mircea-Ioan
    <br> &copy; Copyright 2020 lumeaorigami.ro
    <br>
    <a style="cursor:pointer" href="#"><i class="fas fa-arrow-up"></i></a>
</footer>