<!DOCTYPE html>
<html lang="ro">

<% include head %>

    <body>
        <div class="animation reset">
            <h1>DISCLAIMER: Site-ul este un proiect școlar!</h1>
        </div>
        <% include header %>

            <section id="pg">
                <h2>Prezentare Generala</h2>

                <video controls="controls" width="250" height="250">
            <source src="resurse/video/bav.mp4" type="video/mp4" />
            <track label="Romanian" kind="captions" lang="ro" srclang="ro"
                src="data:image/png;base64,V0VCVlRUIC0gTHVtZWEgT3JpZ2FtaQ0KDQpTVFlMRQ0KOjpjdWV7DQogICAgYmFja2dyb3VuZDogd2hpdGU7DQogICAgY29sb3I6IGJsYWNrOw0KICAgIGFsaWduOiBtaWRkbGU7DQogICAgbGluZTogMDsNCn0NCg0KMDA6MDAuMDAwIC0tPiAwMDowMy4wMDAgbGluZTowIGFsaWduOm1pZGRsZQ0KQmluZSBhdGkgdmVuaXQgbGEgPGk+THVtZWEgT3JpZ2FtaSE8L2k+DQoNCjAwOjAzLjAwMCAtLT4gMDA6MTAuMDAwIGxpbmU6MCBhbGlnbjptaWRkbGUNCkRhY2EgdmEgcGxhY2UsIG51IHVpdGF0aSBzYSBuZSBsYXNhdGkgc2kgdW4gcmV2aWV3IQ0KDQo="
                default>
        </video>

                <audio controls>
            <source src="resurse/audio/audio.ogg" type="audio/ogg">
            <source src="resurse/audio/audio.mp3" type="audio/mpeg">
        </audio>

                <blockquote>Origami constituie arta plierii hârtiei colorate în modele de creaturi vii, obiecte neînsuflețite sau forme decorative abstracte. Lumea artelor tradiționale japoneze a reprezentat întotdeauna pentru occidentali o fascinație, iar discipline
                    precum ikebana – arta aranjării florilor, chanoyu – ceremonia ceaiului, origami – arta plierii hârtiei și multe altele au simbolizat elemente ale frumuseții și perfecțiunii japoneze. Există multe stiluri de origami, acestea pornind
                    de la cele mai simple compoziții până la compoziții extraordinar de complexe, alcătuite din mai multe unități origami pentru a forma un poliedru, precum și reprezentări formate din două sau mai multe coli de hârtie. Cu toate aceste
                    multe forme de abordare, cele mai simple forme de origami sunt modelele formate dintr-un pătrat de hârtie, fără a utiliza lipiciul. Se pot folosi diferite feluri de hârtie, de la cea subțire la cea groasă, precum și hârtia velină a
                    revistelor sau hârtia de împachetat.

                </blockquote>
                <p>Text preluat de pe <cite><a href="https://ro.wikipedia.org/wiki/Origami">Wikipedia</a> </cite></p>

                <aside> Magazinul nostru are ca scop promovarea acestei forme de arta, promitand, in acelasi timp, <b>preturi
                mici si accesibile pentru toti.</b> </aside>
                <br>
                <!-- <img src="logo2.jpg" alt="logo2" width="300" height="220"/> -->

                <picture>
                    <source media="(min-width:650px)" srcset="resurse/imagini/logo2.jpg">
                    <source media="(min-width:465px)" srcset="resurse/imagini/logo4.jpg">
                    <img src="resurse/imagini/logo3.jpg" alt="Logo-uri" style="width:100%;">
                </picture>

            </section>

            <br>

            <section id="produse">
                <h2>Produse</h2>
                <br>
                <div id="counter">
                    <span class="fas fa-paper-plane">Magazinul nostru are o gama <em>variata</em> de produse din care puteti
                alege!

                Cele mai populare dintre acestea sunt:</span>
                    <p>Avion</p>
                    <p>Inima</p>
                    <p>Iepure</p>
                </div>

            </section>

            <br><br><br>



            <section id="oferte">
                <h2>Oferte</h2>
                <p>Desi preturile noastre sunt foarte atractive, avem cateva seturi de <b>oferte</b> pentru clientii nostri</p>

                <div id="tabel">
                    <table>
                        <thead>
                            <tr>

                                <th></th>
                                <th class="par"></th>
                                <th>Valoare reducere</th>
                                <th class="par">Puncte de fidelitate</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th rowspan="2" class="impar">Origami normal simplu</th>
                                <th class="par">2 sau mai multe produse</th>
                                <td style="text-align:center">5%</td>
                                <td style="text-align:center" class="par">100</td>
                            </tr>
                            <tr>
                                <th class="par">5 sau mai multe produse</th>
                                <td style="text-align:center">10%</td>
                                <td style="text-align:center" class="par">150</td>

                            </tr>
                            <tr>
                                <th rowspan="2" class="impar">Origami normal complex</th>
                                <th class="par">2 sau mai multe produse</th>
                                <td style="text-align:center">15%</td>
                                <td style="text-align:center" class="par">200</td>
                            </tr>
                            <tr>
                                <th class="par">5 sau mai multe produse</th>
                                <td style="text-align:center">20%</td>
                                <td style="text-align:center" class="par">250</td>
                            </tr>

                            <tr>
                                <th rowspan="2" class="impar">Origami 3d simplu</th>
                                <th class="par">2 sau mai multe produse</th>
                                <td style="text-align:center">25%</td>
                                <td style="text-align:center" class="par">300</td>
                            </tr>
                            <tr>
                                <th class="par">5 sau mai multe produse</th>
                                <td style="text-align:center">30%</td>
                                <td style="text-align:center" class="par">350</td>

                            </tr>

                            <tr>
                                <th rowspan="2" class="impar">Origami 3d complex</th>
                                <th class="par">2 sau mai multe produse</th>
                                <td style="text-align:center">35%</td>
                                <td style="text-align:center" class="par">400</td>
                            </tr>
                            <tr>
                                <th class="par">5 sau mai multe produse</th>
                                <td style="text-align:center">40%</td>
                                <td style="text-align:center" class="par">450</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <aside> Pentru a fi la curent cu toate reducerile si codurile promotionale, va puteti abona la
                    <b>newsletter-ul</b> nostru.</aside>


            </section>

            <section id="program">
                <h2 class="fas fa-calendar">Program</h2>
                <p>Luni-Duminica: 10:00 - 18:00</p>
                <p>Incepand cu data de <time datetime="2020-10-23 12:00">23 octombrie</time> puteti comanda si prin telefon.</p>

            </section>

            <section id="contact">
                <h2 class="fas fa-phone">Contact</h2>
                <p>Ne puteti <em>scrie</em> la adresa de email <a href="mailto:oprea.mirceaioan@gmail.com">oprea.mirceaioan@gmail.com</a></p>
            </section>


            <% include footer %>
    </body>

</html>