<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Produsele noastre</title>
    <link rel="icon" href="resurse/imagini/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="resurse/stiluri/produse.css">
    <link rel="stylesheet" href="resurse/stiluri/produse_700.css" type="text/css" media="screen and (max-width: 700px)" />
    <link rel="stylesheet" href="resurse/stiluri/produse_600.css" type="text/css" media="screen and (max-width: 600px)" />
</head>

<% include head %>

    <body>
        <header id="sus">
            <h1><img src="/resurse/imagini/logo.png" alt="Lumea Origami" width="100" height="100" /> Lumea Origami </h1>
            <br>

            <nav id="sal">
                <label id="hamburger" for="ch-menu">
                    <img src="/resurse/imagini/hamburger.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="menu">

                    <li><a onclick="highlight(this);" class="word" href="/">Prezentare</a><a class="home"><i class="fas fa-home"></i></a></li>
                    <li><a onclick="highlight(this);" href="/produse">Produse</a></li>

                    <li>
                        <label class="highlight" onclick="highlight(this);" for="opt_galerii">
                            Galerii
                        </label>
                        <input class="ch-submenu" type="checkbox" id="opt_galerii">
                        <ul class="submenu">
                            <li><a onclick="highlight(this);" href="/produse">Statica</a></li>
                            <li><a onclick="highlight(this);" href="/galerie_animata">Animatie</a></li>
                        </ul>
                    </li>
                    <li><a onclick="highlight(this);" href="/#oferte">Oferte</a></li>
                    <li><a onclick="highlight(this);" href="/#program">Program</a></li>
                    <li><a onclick="highlight(this);" href="/#contact">Contact</a></li>
                </ul>
                <input type="image" src="/resurse/imagini/sun.jpg" style="width: 30px; height: 30px;" allign="right;" id="lightDarkTheme" onclick="myFunction();">
            </nav>




            <script>
                document.body.style.backgroundColor = localStorage.getItem('bg');
                document.body.style.color = localStorage.getItem('cc');
                document.getElementById('lightDarkTheme').src = localStorage.getItem('ig');

                function myFunction() {
                    if (localStorage.getItem('bg') === 'rgb(255, 255, 255)') {
                        localStorage.setItem('bg', 'rgb(6, 23, 37)');
                        localStorage.setItem('cc', 'white');
                        localStorage.setItem('ig', '/resurse/imagini/sun.jpg');
                    } else if (localStorage.getItem('bg') == null || undefined) {
                        localStorage.setItem('bg', 'rgb(6, 23, 37)');
                        localStorage.setItem('cc', 'white');
                        localStorage.setItem('ig', '/resurse/imagini/sun.jpg');
                    } else if (localStorage.getItem('bg') === 'rgb(6, 23, 37)') {
                        localStorage.setItem('bg', 'rgb(255, 255, 255)');
                        localStorage.setItem('cc', 'black');
                        localStorage.setItem('ig', '/resurse/imagini/moon.jpg');
                    }

                    document.body.style.backgroundColor = localStorage.getItem('bg');
                    document.body.style.color = localStorage.getItem('cc');
                    document.getElementById('lightDarkTheme').src = localStorage.getItem('ig');
                }


                var current = document.getElementById('default');

                function highlight(el) {
                    if (current != null) {
                        current.className = "";
                    }
                    el.className = "highlight";
                    current = el;
                }
            </script>

        </header>
        <main>
            <section id="galerie-statica">
                <h2>Galerie statica</h2>
                <div id="gr">
                    <figure>
                        <img src="resurse/imagini/galerie1.jpg" alt="Barca">
                        <figcaption>Barca</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie2.jpg" alt="Zebra">
                        <figcaption>Zebra</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie3.jpg" alt="Floare">
                        <figcaption>Floare</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie4.jpg" alt="Pasare1">
                        <figcaption>Pasare1</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie5.jpg" alt="Pasare2">
                        <figcaption>Pasare2</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie6.jpg" alt="Lebada">
                        <figcaption>Lebada</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie7.jpg" alt="Fluture">
                        <figcaption>Fluture</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie8.jpg" alt="Crane">
                        <figcaption>Crane</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie9.jpg" alt="Noroc">
                        <figcaption>Noroc</figcaption>
                    </figure>
                    <figure>
                        <img src="resurse/imagini/galerie10.jpg" alt="Purcelus">
                        <figcaption>Purcelus</figcaption>
                    </figure>
                </div>
            </section>
        </main>
        <% include footer %>
    </body>

</html>